<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <meta charset='utf-8' />
        <title>WorkShop Angularjs</title>
        <link rel='stylesheet' href='styles.css' />
        <meta name='viewport' content='width=device-width' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <div id='col-md-12'>
            <div loading-indicator class="col-md-12"></div>
            <article>
                <header>
                    <h2>MultConnect | AngularJS <img src="https://angularjs.org/img/AngularJS-small.png" alt="Angularjs"></h2>
                </header>
                <div class="col-md-2" id="wrapper">
                    <accordion>
                        <accordion-group heading="Links uteis" is-open="true">
                            <div data-ng-controller="linksUteisController">
                                <p data-ng-repeat="link in linksUteis"><a href="{{link.url}}" target="_blank">{{link.name}}</a></p>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-10" id="wrapper">
                    <accordion close-others="false">
                        <!-- DATA BINDING -->
                        <!-- is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" -->
                        <accordion-group heading="Data Binding">
                            <p><alert data-ng-bind="modelBinding" type="info"></alert></p>
                            <input type="text" data-ng-model="modelBinding" data-ng-init="modelBinding = 'Hello World'">
                        </accordion-group>
                        <!-- EXPRESSIONS -->
                        <accordion-group heading="Expressions">
                            <p> <alert data-ng-if="modelExpressionIsChecked" type="success">Ok, Checked</alert></p>
                            <p> <alert data-ng-if="!modelExpressionIsChecked" type="warning">Fail, Not Checked</alert></p>
                            <p><input type="checkbox" data-ng-model="modelExpressionIsChecked"></p>
                        </accordion-group>
                        <!-- DIRECTIVES -->
                        <accordion-group heading="Directives">
                            <h1>Some Built in Directives</h1>
                            <div data-ng-controller="BuiltInDirectivesController" max-height="100px">
                                <p data-ng-repeat="item in items">{{item}}</p>
                            </div>
                            </accordion-group>
                        </accordion-group>
                        <!-- FILTERS -->
                        <accordion-group heading="Filters">
                            Filters
                            <filter-list ></filter-list>
                        </accordion-group>
                        <!-- CRUD com AZURE -->
                        <h2>Crud com azure</h2>
                        <div class="col-md-6">
                        <acoordion>
                            <accordion-group heading="Pedidos" is-open="true">
                                <list-items-form table="pedidos" models="name" type-models="text">Loading...</list-items-form>
                                <div class="divider"></div>
                                <list-items table="pedidos"></list-items>
                            </accordion-group>
                        </div>
                        <div class="col-md-6">
                            <accordion-group heading="Clientes" is-open="true">
                              <list-items-form table="clientes" models="name,email,celular" type-models="text,email,phone">Loading...</list-items-form>
                                <div class="divider"></div>
                                <list-items table="clientes"></list-items>
                            </accordion-group>
                        </div>
                    </accordion>
                </div>
            </article>
            <footer>
                
            </footer>
        </div>
        <script src='http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
        <script src="ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src='page.js'></script>
    </body>
</html>